<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <center>
            <form method='POST' action='' enctype='multipart/form-data' style="position: absolute; top: 40%; left: 0; right: 0;">
                <h3>Speech 2</h3>
                <p>{{result}}</p>
                <input class="form-control w-50 form-control" id="formFileLg" type="file" name="file" accept=".mp3">
                <button class="btn btn-primary mt-3" type='submit'>submit</button>
            </form>
        </center>
    </div>
</body>
</html>